@media (max-width: 75rem) {
  html{
    font-size: 50.25%;
  }
}

@media (max-width: 56.25rem) {
  html{
    font-size: 43.75%;
  }
  #fueture{
  margin-bottom: -2rem;
  margin: 4rem 8rem;
}
}

@media (max-width: 47.37rem) {
  html{
    font-size: 38%;
  }
   .hero-grid-container{
  padding: 8rem 6rem 6rem;
}
#fueture{
  margin-bottom: -1rem;
  margin: 3rem 6rem;
}
.pc-bar{
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}
}
 @media (max-width: 38.75rem) {
  html{
    font-size: 35%;
  }
  header{
    height: 100rem;
  }
  .hero-grid-container{
  display: grid;
  grid-template-columns: 1fr;
  padding: 1rem 2rem 2rem;
  height: 88rem;
  column-gap: 10rem;
}
.hero-grid-2-cover{
  width: 65rem;
  position: absolute;
  left: -10rem;
  top: 1rem;
}
#fueture{
  margin-bottom: -0.5rem;
  margin: 2rem 10rem;
}
.hero-grid-2{
  margin: auto;
}
nav{
  padding: 1rem  0.2rem 0.2rem;
}
.cta-p{
  margin: 1rem 5rem;
}
.fueture-grid{
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
}
.cta-grid{
  grid-template-columns: 1fr 1fr;
  margin: 4rem 2rem;
}
}

@media (max-width: 28.75rem) {
  html{
    font-size: 35%;
  }
  h2{
    font-size: 34px;
    line-height: 30px;
  }
  .hero-grid-1{
    margin: 0rem 2.5rem;
    text-align: center;
  }
   .hero-grid-1 h5{
    margin-bottom: 1rem;
  } 
  .hero-grid-2-cover{
    position: absolute;
    left: -9rem;
    width: 50rem;
  }
  .pc-bar{
    display: none;
  }
  .mobile-bar{
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: fixed;
    right: 0rem;
    top: 0rem;
    background: rgba(235, 233, 233, 0.486);
    width: 30rem;
    height: 100vh;
    color: black;
    font-size: 7rem;
    z-index: 999;
    padding: 5rem 0 0 2rem;
  }
  nav ul li a{
    font-size: 4rem;
  }
  .lis{
    display: none;
  }
  .toggle-btn{
    color: black;
  }
  .icon{
    width: 10rem;
    display: block;
    z-index: 9999;
  }
  header{
    height: 110rem;
  }
}